* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
    display: inline-block;
}

header nav a:hover {
    color: #fff;
    background: linear-gradient(to bottom, #66ccff, #3399ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.5);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
}

#tournaments ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tournaments li {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#tournaments li:last-child {
    border-bottom: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], select {
    width: 40%;
    height: 30px;
    margin-bottom: 10px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    section {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    main {
        padding: 1em;
    }
    
    section {
        width: 100%;
        padding: 0.5em;
    }
    
    button {
        padding: 5px 10px;
        font-size: 14px;
    }
}